.stat-block {
  background: #f2f2f2;
  line-height: 16px;
  padding: 8px 10px 0;
  margin: 1px 0;
  overflow: hidden;
}

.stat-item {
  cursor: pointer;
  text-decoration: none;
  color: #333;
  overflow: hidden;
  margin: 0 0 7px;
  display: block;

  .stat-item--icon {
    float: left;

    span {
      width: 30px;
      height: 30px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      margin-left: 0;
      border: 2px solid #fff;
    }
  }

  .stat-item-bar {
    margin-left: 38px;
    margin-top: 4px;
  }
}

.stat-item--info {
  overflow: hidden;
  padding-left: 2px;
}

.item-info--name {
  float: left;
  font-weight: 700;
  width: 125px;
}

.item-info--lv {
  float: left;
}

.stat-item--progress {
  border-radius: 5px;
  border: 1px solid #ddd;
  background: #fff;
  position: relative;
  height: 5px;
  padding: 1px;

  .progress-line-timer {
    border-color: #bfdca3;
    background: #eff5e9;
    border-radius: 5px;
    border-right-width: 1px;
  }

  .progress-line {
    border-radius: 5px;
    border-right-width: 1px;
    background: #6cad2b;
    background: -o-linear-gradient(top, #6cad2b 0, #4d7c1e 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #6cad2b), to(#4d7c1e));
    background: linear-gradient(180deg, #6cad2b, #4d7c1e);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    position: relative;
    overflow: hidden;
    height: 5px;
    max-width: 100%;
    z-index: 3;
    vertical-align: middle;
  }
}

.stats-container__nen {
  .progress-line {
    background: #cc7032;
    background: -o-linear-gradient(top, #cc7032 0, #b3382c 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #cc7032), to(#b3382c));
    background: linear-gradient(180deg, #cc7032, #b3382c);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="$color1",endColorstr="$color2",GradientType=0);
  }
}
