.container {
  width: 976px;
  margin: 0 auto;
}

.left-content {
  float: left;
  vertical-align: baseline;
}

.sidebar {
  width: 195px;
  margin-bottom: 50px;
}

.main-content {
  float: left;
  width: 761px;
}
