.account-detail__avatar {
  border: 2px solid #fff;
  line-height: 262px;
  vertical-align: middle;
  text-align: center;
}

.avatar {
  width: 125px;
  height: 125px;
  background-size: cover;
  background-position: top center;
}
